<nav>
    <div class="nav-content">
        <a href="./home.html" class="logo">
            <img src="../public/moon-favicon.svg" alt="Trading Moon">
            Trading Moon
        </a>
        <div class="nav-items">
            <div class="dropdown">
                <button class="dropdown-toggle" id="services-toggle">
                    Services
                </button>
                <div class="dropdown-menu services-menu" id="services-menu">
                    <a href="#web-dev">Web App Development</a>
                    <a href="#mobile-dev">Mobile App Development</a>
                    <a href="#mvp-dev">MVP Development</a>
                    <a href="#seo">SEO Help</a>
                    <a href="#ppc">PPC Help</a>
                    <a href="#analytics">Analytics Help</a>
                    <a href="#automation">Automation Consulting</a>
                </div>
            </div>
            <a class="nav-link" href="#blog">Blog</a>
            <div class="dropdown">
                <button class="dropdown-toggle" id="free-tools-toggle">
                    Free Tools
                </button>
                <div class="dropdown-menu" id="free-tools-menu">
                    <a href="/saasdirectories">SaaS Directories</a>
                </div>
            </div>
            <a class="nav-link" href="/case-studies">Case Studies</a>
            <a class="nav-link" href="/contact">Contact Us</a>
        </div>
    </div>
</nav>
